html {
  background: url('background.gif') no-repeat center center fixed;
  background-size: cover;
}

body {
  height: 100%;
}

iframe {
  display: none;
}

#zinzin {
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}
h1 {
  width: 800px;
	font-family: Arial, sans-serif;
	font-size: 6em;
	color: #f1c40f;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 0 1px 0 #c0392b,
               0 2px 0 #c0392b,
               0 3px 0 #c0392b,
               0 4px 0 #c0392b,
               0 5px 0 #c0392b,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15); 
}
